@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
body{
    margin: 5px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul > li {
    list-style-type: none;
    margin-left: 0px;
}
li > a{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
ul > li > a:hover{
    color:#4D5AE5;
}
.web {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;   
}
/* Hero Image */
/* Section1 */
h1 {
    color: #ffff;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.hero {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #2E2F42;
    height: 155px;
}
.button {
     background: #4D5AE5;
     color: #ffff;
     border-radius: 5px;
     padding: 2px;
     letter-spacing: .5px;
     cursor: pointer;
}
.button:hover {
     background-color: rgb(12, 77, 240);
     color: #ffff;
     border-radius: 5px;
     padding: 2px;
     letter-spacing: .5px;
}
h2 {
    margin-top: 20px;
    text-align: center;
}
/* Section 2 */
.main-studio{
    color: var(--IRIS, #4D5AE5);
}
.advantage{
    color: #434455;
    letter-spacing: .5px;
    line-height: 30px;
}
.advantage > p{
    font-size: 16px;
}
.advantage > li{
    font-size: 20px;
}

/* section3 */

.team{
    line-height: 35px;
}


/* footer */
.notation{
    background-color: #2E2F42;
}
.notation .studio{
    color: #ffff;
    font-size: 15px;
}
.notation .web{
    color: #4D5AE5;
    font-size: 15px;
}
.notation > p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
}
/* portfolio.html */
.button-portfolio{
    margin-left: 38px;
    color: #4D5AE5;
}
.button-portfolio:hover{
    margin-left: 38px;
    color: #ffff;
    background-color: #4D5AE5;
    cursor: pointer;
}